/*!
  This is a css custom project owned by Diego Piedra <developer.diegopiedra@gmail.com>
*/
:root {
  --total-cols: 24;
  --margin: 15px;
  --padding: 10px;
  --primary: #2b9cce;
  --secondary: white;
  --cta: #c00;
  --grey: #666;
  --ligth-grey: #EBEBEB;
  --dark: black;
  --outline: 1px dashed var(--grey);
}

@media screen and (max-width: 760px) {
  :root {
    --padding: 5px;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  color: inherit;
  background: inherit;
  cursor: pointer;
}

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: -ms-grid;
  display: grid;
  grid-gap: var(--margin);
  -ms-grid-columns: (1fr)[var];
      grid-template-columns: repeat(var(--total-cols), 1fr);
}

.row-s {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[var];
      grid-template-columns: repeat(var(--total-cols), 1fr);
}

.row-m {
  display: -ms-grid;
  display: grid;
  grid-gap: calc(var(--margin)/3);
  -ms-grid-columns: (1fr)[var];
      grid-template-columns: repeat(var(--total-cols), 1fr);
}

.col {
  --init: auto;
  --cols: var(--total-cols);
  grid-column: var(--init)/span var(--cols);
}

@media screen and (min-width: 0px) {
  body {
    --size: "xs";
  }
  .hide-xs {
    display: none;
  }
  .show-xs {
    display: auto;
  }
  .xs-1 {
    --cols: 1;
  }
  .init-xs-1 {
    --init: 1;
  }
  .xs-2 {
    --cols: 2;
  }
  .init-xs-2 {
    --init: 2;
  }
  .xs-3 {
    --cols: 3;
  }
  .init-xs-3 {
    --init: 3;
  }
  .xs-4 {
    --cols: 4;
  }
  .init-xs-4 {
    --init: 4;
  }
  .xs-5 {
    --cols: 5;
  }
  .init-xs-5 {
    --init: 5;
  }
  .xs-6 {
    --cols: 6;
  }
  .init-xs-6 {
    --init: 6;
  }
  .xs-7 {
    --cols: 7;
  }
  .init-xs-7 {
    --init: 7;
  }
  .xs-8 {
    --cols: 8;
  }
  .init-xs-8 {
    --init: 8;
  }
  .xs-9 {
    --cols: 9;
  }
  .init-xs-9 {
    --init: 9;
  }
  .xs-10 {
    --cols: 10;
  }
  .init-xs-10 {
    --init: 10;
  }
  .xs-11 {
    --cols: 11;
  }
  .init-xs-11 {
    --init: 11;
  }
  .xs-12 {
    --cols: 12;
  }
  .init-xs-12 {
    --init: 12;
  }
  .xs-13 {
    --cols: 13;
  }
  .init-xs-13 {
    --init: 13;
  }
  .xs-14 {
    --cols: 14;
  }
  .init-xs-14 {
    --init: 14;
  }
  .xs-15 {
    --cols: 15;
  }
  .init-xs-15 {
    --init: 15;
  }
  .xs-16 {
    --cols: 16;
  }
  .init-xs-16 {
    --init: 16;
  }
  .xs-17 {
    --cols: 17;
  }
  .init-xs-17 {
    --init: 17;
  }
  .xs-18 {
    --cols: 18;
  }
  .init-xs-18 {
    --init: 18;
  }
  .xs-19 {
    --cols: 19;
  }
  .init-xs-19 {
    --init: 19;
  }
  .xs-20 {
    --cols: 20;
  }
  .init-xs-20 {
    --init: 20;
  }
  .xs-21 {
    --cols: 21;
  }
  .init-xs-21 {
    --init: 21;
  }
  .xs-22 {
    --cols: 22;
  }
  .init-xs-22 {
    --init: 22;
  }
  .xs-23 {
    --cols: 23;
  }
  .init-xs-23 {
    --init: 23;
  }
  .xs-24 {
    --cols: 24;
  }
  .init-xs-24 {
    --init: 24;
  }
}

@media screen and (min-width: 760px) {
  body {
    --size: "sm";
  }
  .hide-sm {
    display: none;
  }
  .show-sm {
    display: auto;
  }
  .sm-1 {
    --cols: 1;
  }
  .init-sm-1 {
    --init: 1;
  }
  .sm-2 {
    --cols: 2;
  }
  .init-sm-2 {
    --init: 2;
  }
  .sm-3 {
    --cols: 3;
  }
  .init-sm-3 {
    --init: 3;
  }
  .sm-4 {
    --cols: 4;
  }
  .init-sm-4 {
    --init: 4;
  }
  .sm-5 {
    --cols: 5;
  }
  .init-sm-5 {
    --init: 5;
  }
  .sm-6 {
    --cols: 6;
  }
  .init-sm-6 {
    --init: 6;
  }
  .sm-7 {
    --cols: 7;
  }
  .init-sm-7 {
    --init: 7;
  }
  .sm-8 {
    --cols: 8;
  }
  .init-sm-8 {
    --init: 8;
  }
  .sm-9 {
    --cols: 9;
  }
  .init-sm-9 {
    --init: 9;
  }
  .sm-10 {
    --cols: 10;
  }
  .init-sm-10 {
    --init: 10;
  }
  .sm-11 {
    --cols: 11;
  }
  .init-sm-11 {
    --init: 11;
  }
  .sm-12 {
    --cols: 12;
  }
  .init-sm-12 {
    --init: 12;
  }
  .sm-13 {
    --cols: 13;
  }
  .init-sm-13 {
    --init: 13;
  }
  .sm-14 {
    --cols: 14;
  }
  .init-sm-14 {
    --init: 14;
  }
  .sm-15 {
    --cols: 15;
  }
  .init-sm-15 {
    --init: 15;
  }
  .sm-16 {
    --cols: 16;
  }
  .init-sm-16 {
    --init: 16;
  }
  .sm-17 {
    --cols: 17;
  }
  .init-sm-17 {
    --init: 17;
  }
  .sm-18 {
    --cols: 18;
  }
  .init-sm-18 {
    --init: 18;
  }
  .sm-19 {
    --cols: 19;
  }
  .init-sm-19 {
    --init: 19;
  }
  .sm-20 {
    --cols: 20;
  }
  .init-sm-20 {
    --init: 20;
  }
  .sm-21 {
    --cols: 21;
  }
  .init-sm-21 {
    --init: 21;
  }
  .sm-22 {
    --cols: 22;
  }
  .init-sm-22 {
    --init: 22;
  }
  .sm-23 {
    --cols: 23;
  }
  .init-sm-23 {
    --init: 23;
  }
  .sm-24 {
    --cols: 24;
  }
  .init-sm-24 {
    --init: 24;
  }
}

@media screen and (min-width: 800px) {
  body {
    --size: "md";
  }
  .hide-md {
    display: none;
  }
  .show-md {
    display: auto;
  }
  .md-1 {
    --cols: 1;
  }
  .init-md-1 {
    --init: 1;
  }
  .md-2 {
    --cols: 2;
  }
  .init-md-2 {
    --init: 2;
  }
  .md-3 {
    --cols: 3;
  }
  .init-md-3 {
    --init: 3;
  }
  .md-4 {
    --cols: 4;
  }
  .init-md-4 {
    --init: 4;
  }
  .md-5 {
    --cols: 5;
  }
  .init-md-5 {
    --init: 5;
  }
  .md-6 {
    --cols: 6;
  }
  .init-md-6 {
    --init: 6;
  }
  .md-7 {
    --cols: 7;
  }
  .init-md-7 {
    --init: 7;
  }
  .md-8 {
    --cols: 8;
  }
  .init-md-8 {
    --init: 8;
  }
  .md-9 {
    --cols: 9;
  }
  .init-md-9 {
    --init: 9;
  }
  .md-10 {
    --cols: 10;
  }
  .init-md-10 {
    --init: 10;
  }
  .md-11 {
    --cols: 11;
  }
  .init-md-11 {
    --init: 11;
  }
  .md-12 {
    --cols: 12;
  }
  .init-md-12 {
    --init: 12;
  }
  .md-13 {
    --cols: 13;
  }
  .init-md-13 {
    --init: 13;
  }
  .md-14 {
    --cols: 14;
  }
  .init-md-14 {
    --init: 14;
  }
  .md-15 {
    --cols: 15;
  }
  .init-md-15 {
    --init: 15;
  }
  .md-16 {
    --cols: 16;
  }
  .init-md-16 {
    --init: 16;
  }
  .md-17 {
    --cols: 17;
  }
  .init-md-17 {
    --init: 17;
  }
  .md-18 {
    --cols: 18;
  }
  .init-md-18 {
    --init: 18;
  }
  .md-19 {
    --cols: 19;
  }
  .init-md-19 {
    --init: 19;
  }
  .md-20 {
    --cols: 20;
  }
  .init-md-20 {
    --init: 20;
  }
  .md-21 {
    --cols: 21;
  }
  .init-md-21 {
    --init: 21;
  }
  .md-22 {
    --cols: 22;
  }
  .init-md-22 {
    --init: 22;
  }
  .md-23 {
    --cols: 23;
  }
  .init-md-23 {
    --init: 23;
  }
  .md-24 {
    --cols: 24;
  }
  .init-md-24 {
    --init: 24;
  }
}

@media screen and (min-width: 1000px) {
  body {
    --size: "lg";
  }
  .hide-lg {
    display: none;
  }
  .show-lg {
    display: auto;
  }
  .lg-1 {
    --cols: 1;
  }
  .init-lg-1 {
    --init: 1;
  }
  .lg-2 {
    --cols: 2;
  }
  .init-lg-2 {
    --init: 2;
  }
  .lg-3 {
    --cols: 3;
  }
  .init-lg-3 {
    --init: 3;
  }
  .lg-4 {
    --cols: 4;
  }
  .init-lg-4 {
    --init: 4;
  }
  .lg-5 {
    --cols: 5;
  }
  .init-lg-5 {
    --init: 5;
  }
  .lg-6 {
    --cols: 6;
  }
  .init-lg-6 {
    --init: 6;
  }
  .lg-7 {
    --cols: 7;
  }
  .init-lg-7 {
    --init: 7;
  }
  .lg-8 {
    --cols: 8;
  }
  .init-lg-8 {
    --init: 8;
  }
  .lg-9 {
    --cols: 9;
  }
  .init-lg-9 {
    --init: 9;
  }
  .lg-10 {
    --cols: 10;
  }
  .init-lg-10 {
    --init: 10;
  }
  .lg-11 {
    --cols: 11;
  }
  .init-lg-11 {
    --init: 11;
  }
  .lg-12 {
    --cols: 12;
  }
  .init-lg-12 {
    --init: 12;
  }
  .lg-13 {
    --cols: 13;
  }
  .init-lg-13 {
    --init: 13;
  }
  .lg-14 {
    --cols: 14;
  }
  .init-lg-14 {
    --init: 14;
  }
  .lg-15 {
    --cols: 15;
  }
  .init-lg-15 {
    --init: 15;
  }
  .lg-16 {
    --cols: 16;
  }
  .init-lg-16 {
    --init: 16;
  }
  .lg-17 {
    --cols: 17;
  }
  .init-lg-17 {
    --init: 17;
  }
  .lg-18 {
    --cols: 18;
  }
  .init-lg-18 {
    --init: 18;
  }
  .lg-19 {
    --cols: 19;
  }
  .init-lg-19 {
    --init: 19;
  }
  .lg-20 {
    --cols: 20;
  }
  .init-lg-20 {
    --init: 20;
  }
  .lg-21 {
    --cols: 21;
  }
  .init-lg-21 {
    --init: 21;
  }
  .lg-22 {
    --cols: 22;
  }
  .init-lg-22 {
    --init: 22;
  }
  .lg-23 {
    --cols: 23;
  }
  .init-lg-23 {
    --init: 23;
  }
  .lg-24 {
    --cols: 24;
  }
  .init-lg-24 {
    --init: 24;
  }
}

@media screen and (min-width: 1200px) {
  body {
    --size: "xl";
  }
  .hide-xl {
    display: none;
  }
  .show-xl {
    display: auto;
  }
  .xl-1 {
    --cols: 1;
  }
  .init-xl-1 {
    --init: 1;
  }
  .xl-2 {
    --cols: 2;
  }
  .init-xl-2 {
    --init: 2;
  }
  .xl-3 {
    --cols: 3;
  }
  .init-xl-3 {
    --init: 3;
  }
  .xl-4 {
    --cols: 4;
  }
  .init-xl-4 {
    --init: 4;
  }
  .xl-5 {
    --cols: 5;
  }
  .init-xl-5 {
    --init: 5;
  }
  .xl-6 {
    --cols: 6;
  }
  .init-xl-6 {
    --init: 6;
  }
  .xl-7 {
    --cols: 7;
  }
  .init-xl-7 {
    --init: 7;
  }
  .xl-8 {
    --cols: 8;
  }
  .init-xl-8 {
    --init: 8;
  }
  .xl-9 {
    --cols: 9;
  }
  .init-xl-9 {
    --init: 9;
  }
  .xl-10 {
    --cols: 10;
  }
  .init-xl-10 {
    --init: 10;
  }
  .xl-11 {
    --cols: 11;
  }
  .init-xl-11 {
    --init: 11;
  }
  .xl-12 {
    --cols: 12;
  }
  .init-xl-12 {
    --init: 12;
  }
  .xl-13 {
    --cols: 13;
  }
  .init-xl-13 {
    --init: 13;
  }
  .xl-14 {
    --cols: 14;
  }
  .init-xl-14 {
    --init: 14;
  }
  .xl-15 {
    --cols: 15;
  }
  .init-xl-15 {
    --init: 15;
  }
  .xl-16 {
    --cols: 16;
  }
  .init-xl-16 {
    --init: 16;
  }
  .xl-17 {
    --cols: 17;
  }
  .init-xl-17 {
    --init: 17;
  }
  .xl-18 {
    --cols: 18;
  }
  .init-xl-18 {
    --init: 18;
  }
  .xl-19 {
    --cols: 19;
  }
  .init-xl-19 {
    --init: 19;
  }
  .xl-20 {
    --cols: 20;
  }
  .init-xl-20 {
    --init: 20;
  }
  .xl-21 {
    --cols: 21;
  }
  .init-xl-21 {
    --init: 21;
  }
  .xl-22 {
    --cols: 22;
  }
  .init-xl-22 {
    --init: 22;
  }
  .xl-23 {
    --cols: 23;
  }
  .init-xl-23 {
    --init: 23;
  }
  .xl-24 {
    --cols: 24;
  }
  .init-xl-24 {
    --init: 24;
  }
}

.show-grid {
  position: fixed;
  z-index: 9999999999999999999;
  right: 20px;
  bottom: 20px;
  padding: 10px;
  background: #00000091;
  border-radius: 5px;
  color: white;
}

.show-grid::after {
  content: var(--size);
}

.mb {
  margin-bottom: 15px;
}

.mt {
  margin-top: 15px;
}

.primary {
  --color: var(--primary);
}

.text-primary {
  --text-color: var(--primary);
}

.text-primary-f {
  color: var(--primary);
}

.bg-primary {
  background: var(--primary);
}

.secondary {
  --color: var(--secondary);
}

.text-secondary {
  --text-color: var(--secondary);
}

.text-secondary-f {
  color: var(--secondary);
}

.bg-secondary {
  background: var(--secondary);
}

.cta {
  --color: var(--cta);
}

.text-cta {
  --text-color: var(--cta);
}

.text-cta-f {
  color: var(--cta);
}

.bg-cta {
  background: var(--cta);
}

.grey {
  --color: var(--grey);
}

.text-grey {
  --text-color: var(--grey);
}

.text-grey-f {
  color: var(--grey);
}

.bg-grey {
  background: var(--grey);
}

.ligth-grey {
  --color: var(--ligth-grey);
}

.text-ligth-grey {
  --text-color: var(--ligth-grey);
}

.text-ligth-grey-f {
  color: var(--ligth-grey);
}

.bg-ligth-grey {
  background: var(--ligth-grey);
}

.dark {
  --color: var(--dark);
}

.text-dark {
  --text-color: var(--dark);
}

.text-dark-f {
  color: var(--dark);
}

.bg-dark {
  background: var(--dark);
}

.text-white {
  --text-color: white;
}

.dark-theme {
  --primary: #1d3763;
  --secondary: #4a4a4a;
  --cta: #900;
  --grey: #d2d2d2;
  --ligth-grey: #383838;
}

.dark-theme .dark-theme__text-white {
  color: white;
}

.dark-theme .dark-theme__black {
  background: black;
}

.dark-theme .dark-theme__text-dark {
  color: var(--ligth-grey);
}

.deep-1 {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.deep-2 {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.deep-3 {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.deep-4 {
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.deep-5 {
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.form__label {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  display: block;
}

.form__input__container {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  width: 12.5%;
}

.form__input__container.custom {
  line-height: 45px;
}

.form__input {
  width: 100%;
  border-radius: 0;
  border: 1px solid #BBB;
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
  color: var(--grey);
  padding: 10px;
  height: 40px;
}

.form__input:focus {
  outline: var(--outline);
}

.form__checkbox {
  position: absolute;
  opacity: 0;
}

.form__label {
  cursor: pointer;
  line-height: 1em;
}

.form__checkbox + .form__label::before {
  content: " ";
  width: 12px;
  height: 12px;
  display: inline-block;
  background: white;
  -webkit-transition: .3s;
  transition: .3s;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: .6em;
  overflow: hidden;
  margin-right: 2px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.form__checkbox:checked + .form__label::before {
  content: "\f00c";
  color: var(--color);
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.form__checkbox:focus + .form__label::before {
  outline: var(--outline);
}

.form__select {
  background: white;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.form__select__container {
  position: relative;
}

.form__select__container::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  right: 10px;
  bottom: 0;
  margin: auto;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: var(--color) transparent transparent transparent;
  pointer-events: none;
}

.form__hide-input {
  height: 0;
  padding: 0;
  border: none;
}

.form__hide-input:focus {
  border: 1px solid #BBB;
  padding: 10px;
  height: 40px;
}

.btn {
  color: var(--grey);
  line-height: 20px;
  border: 3px solid var(--secondary);
  background: var(--secondary);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  -webkit-transition: background .5s,color .5s;
  transition: background .5s,color .5s;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: calc(var(--padding)/2) var(--padding);
}

.btn__100 {
  width: 100%;
}

.btn:focus {
  outline: var(--outline);
}

.btn:hover, .btn:focus {
  background: var(--color);
  color: white;
}

.btn.custom {
  margin-top: 36px;
  line-height: 34px;
  padding: 0;
}

@media screen and (max-width: 760px) {
  .btn.custom {
    margin-top: var(--padding);
  }
}

.nav {
  background: var(--color);
  color: var(--grey);
  line-height: 45px;
  font-size: 0.8125em;
}

.nav .fa {
  font-size: 16px;
  margin-right: 10px;
}

.nav .fa-indicator {
  margin-right: 0;
  margin-left: 10px;
  font-size: 9px;
  position: relative;
  top: -1px;
}

.nav__item {
  display: inline-block;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-right-width: 1px;
  float: left;
  padding: 3px;
}

.nav__item:hover > .nav__btn,
.nav__item:focus-within > .nav__btn {
  color: white;
  background: var(--color);
  -webkit-transition: background 0.4s,color 0.4s;
  transition: background 0.4s,color 0.4s;
}

.nav__btn {
  padding: 0 10px;
  line-height: inherit;
  width: 100%;
  text-align: left;
  font-size: inherit;
}

.nav__btn:disabled {
  background: lightgray !important;
  color: darkgray !important;
  cursor: not-allowed;
}

.nav__submenu {
  margin-top: 10px;
  min-width: 200px;
  position: absolute;
  background: var(--secondary);
  margin-left: -3px;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: perspective(400px) rotateX(-90deg);
          transform: perspective(400px) rotateX(-90deg);
  top: 100%;
  z-index: 1;
}

.nav :hover > .nav__submenu,
.nav :focus-within > .nav__submenu {
  top: auto;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.nav__submenu::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 24px;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--secondary);
  border-left: 5px solid transparent;
}

.nav__submenu::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 10px;
  background: transparent;
}

.nav__submenu .fa-indicator {
  top: 0;
  float: right;
  display: block;
  line-height: inherit;
}

.nav__submenu .nav__item {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-right-width: 0;
  border-bottom-width: 1px;
  display: block;
  float: none;
}

.nav__submenu .nav__item:last-child {
  border: none;
}

@media screen and (max-width: 760px) {
  .nav__item {
    width: 100%;
    border-bottom-width: 1px;
    border-right-width: 0px;
  }
  .nav__submenu {
    margin-left: var(--margin);
    width: 80%;
  }
  .nav__list {
    height: 0px;
    overflow: hidden;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .menu-open {
    height: 100vh;
  }
}

.header {
  background: var(--color);
  color: white;
  line-height: 63px;
  text-align: center;
  font-weight: bold;
}

.header__title {
  font-size: 2em;
}

@media screen and (max-width: 760px) {
  .header__title {
    font-size: 1.5em;
  }
}

.panel {
  background: var(--color);
  color: white;
  border: 3px solid var(--secondary);
  padding: 5px;
  text-align: center;
}

.table {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  font-size: 0.875em;
  width: 100%;
  background-color: var(--ligth-grey);
  color: white;
}

.table th {
  background: var(--color);
  text-align: center;
}

.table td, .table th {
  border: 3px solid var(--secondary);
  width: 10%;
  padding: 8px 10px;
  vertical-align: middle;
}

.table__toImage td, .table__toImage th {
  border-width: 1px;
}

.table td {
  --color: transparent;
  background: var(--color);
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: url(./img/x.png), auto;
}

.table td:empty {
  cursor: default;
}

.table_load {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #f6f7f8;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  position: relative;
}

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@media print {
  .header, .sticky, .footer, .hide, .modal, template {
    display: none !important;
  }
  body {
    background: none;
  }
  .table {
    -webkit-box-shadow: none;
            box-shadow: none;
    font-size: 12px;
    white-space: nowrap;
  }
}

.footer {
  background: var(--grey);
  color: var(--secondary);
  font-size: 0.75em;
  padding: 5px;
}

.footer a {
  color: var(--color);
  font-weight: bold;
}

.card {
  border: 3px solid var(--secondary);
  background: var(--color);
  color: var(--text-color);
  padding: var(--padding);
}

.help {
  color: var(--grey);
  margin-top: var(--margin);
  margin-bottom: var(--margin);
  text-align: center;
}

.help__title {
  font-weight: bold;
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}

.help__img {
  max-width: 100%;
}

.hide-show {
  font-size: .8125em;
}

.hide-show::before {
  content: "\f070";
  font: normal normal normal 14px/1 FontAwesome;
}

.hide-show__input:checked ~ .hide-show::before {
  content: "\f06e";
}

.posible-hiden {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.hide-show__input {
  display: none;
}

.hide-show__input:checked + .posible-hiden {
  display: none;
}

* {
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  max-width: 100%;
  overflow-x: hidden;
  background: var(--ligth-grey);
  font-family: 'Open Sans', sans-serif;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.z-index {
  z-index: -1;
  position: relative;
}

.hide {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(102, 102, 102, 0.5);
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(102, 102, 102, 0.7);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(77, 77, 77, 0.7);
}

.m {
  margin: var(--margin);
}

.m-t {
  margin-top: var(--margin);
}

.m-b {
  margin-bottom: var(--margin);
}

.m-l {
  margin-left: var(--margin);
}

.m-r {
  margin-right: var(--margin);
}

@media screen and (max-width: 0px) {
  .show-min-xs {
    display: none;
  }
}

@media screen and (min-width: 0px) {
  .show-max-xs {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .show-min-sm {
    display: none;
  }
}

@media screen and (min-width: 760px) {
  .show-max-sm {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .show-min-md {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .show-max-md {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .show-min-lg {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .show-max-lg {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .show-min-xl {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .show-max-xl {
    display: none;
  }
}

.text-center {
  text-align: center;
}

.color-piker {
  width: 100%;
  height: 40px;
  position: relative;
}

.color-piker__list {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: perspective(400px) rotateX(-90deg);
          transform: perspective(400px) rotateX(-90deg);
  margin-top: 5px;
  display: -ms-grid;
  display: grid;
  grid-gap: var(--padding);
  -ms-grid-columns: (2em)[4];
      grid-template-columns: repeat(4, 2em);
  background: var(--secondary);
  padding: var(--padding);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.color-piker__list::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 24px;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--secondary);
  border-left: 5px solid transparent;
}

.color-piker__list::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 10px;
  background: transparent;
}

.color-piker__trigger {
  width: 100%;
  height: 100%;
}

.color-piker__trigger:hover {
  background: var(--secondary);
}

.color-piker__trigger:hover ~ .color-piker__list, .color-piker__list:focus, .color-piker__list:hover {
  top: auto;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.color-piker__item {
  height: 2em;
}

.color-piker__btn {
  background: var(--primary);
  width: 100%;
  height: 100%;
}

.modal {
  position: fixed;
  z-index: 999;
  width: 100%;
  bottom: 150vh;
  -webkit-transition: .3s;
  transition: .3s;
  display: block;
}

.modal__overley {
  height: 100vh;
  width: 100%;
  background: #00000087;
  overflow-y: auto;
  font-size: .9em;
}

.modal__container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-height: 90vh;
}

.modal__open {
  bottom: 0vh;
}

.modal__title {
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  margin: var(--margin);
}

.modal__text {
  margin-bottom: var(--margin);
  line-height: 1.3;
}

.wrap-style {
  position: fixed;
  bottom: 0;
  display: none;
}

.style {
  width: 225px;
  height: 400px;
  background-image: url(https://estelle.github.com/10/files/sprite.png);
  -webkit-animation: gangham 4s steps(23, start) infinite, movearound 12s steps(69, end) infinite 44ms;
  animation: gangham 4s steps(23, start) infinite, movearound 12s steps(69, end) infinite alternate 44ms;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

@-webkit-keyframes gangham {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -5175px 0;
  }
}

@keyframes gangham {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -5175px 0;
  }
}

@-webkit-keyframes movearound {
  0% {
    -webkit-transform: translatex(0);
  }
  100% {
    -webkit-transform: translatex(calc(100vw - 190px));
  }
}

@keyframes movearound {
  0% {
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
  100% {
    -webkit-transform: translatex(calc(100vw - 190px));
            transform: translatex(calc(100vw - 190px));
  }
}

.theme.basic {
  --a: var(--primary);
  --b: #d32f2f;
  --c: #b71c1c;
  --d: #c2185b;
  --e: #880e4f;
  --f: #7b1fa2;
  --g: #4a148c;
  --h: #303f9f;
  --i: #00796b;
  --j: #004d40;
  --k: #43a047;
  --l: #2e7d32;
  --m: #689f38;
  --n: #33691e;
  --o: #9e9d24;
  --p: #827717;
  --q: #fbc02d;
  --r: #f9a825;
  --s: #ff8f00;
  --t: #f57c00;
  --u: #e64a19;
  --v: #bf360c;
  --w: #6d4c41;
  --x: #3e2723;
}

.dark-theme .theme.basic {
  --a: var(--primary);
  --b: #d32f2f;
  --c: #b71c1c;
  --d: #c2185b;
  --e: #880e4f;
  --f: #7b1fa2;
  --g: #4a148c;
  --h: #303f9f;
  --i: #00796b;
  --j: #004d40;
  --k: #43a047;
  --l: #2e7d32;
  --m: #689f38;
  --n: #33691e;
  --o: #9e9d24;
  --p: #827717;
  --q: #fbc02d;
  --r: #f9a825;
  --s: #ff8f00;
  --t: #f57c00;
  --u: #e64a19;
  --v: #bf360c;
  --w: #6d4c41;
  --x: #3e2723;
}
/*# sourceMappingURL=main.css.map */