.modal{
  position: fixed;
  z-index: 999;
  width: 100%;
  bottom: 150vh;
  transition: .3s;
  display: block;
}

.modal__overley{
  height: 100vh;
  width: 100%;
  background: #00000087;
  overflow-y: auto;
  font-size: .9em;
}

.modal__container{
  align-self: center;
  max-height: 90vh;
}

.modal__open{
  bottom: 0vh;
}

.modal__title{
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  margin: var(--margin);
}

.modal__text{
  margin-bottom: var(--margin);
  line-height: 1.3;
}
